<div class="col-sm-12">
 <h2><span class="glyphicon glyphicon-chevron-up" ng-click="upvote({comment: comment})"> </span>
  <span class="glyphicon glyphicon-chevron-down" ng-click="downvote({comment: comment})"> </span>
  {{comment.voteCount}} | {{comment.author}}</h2>
  <p>Commented on {{comment.date | date}}</p>
  <p>{{comment.text}}</p>
  <p data-type="new-comment">
    <a class='text-muted' ng-click="flipCom(comment)">Add Comment</a>
    <form>
      <div>
        <label>Author
          <input type="text" ng-model="commentCommentParams.author"/>
        </label>
      </div>
      <div>
        <label>Comment
          <textarea ng-model="commentCommentParams.text"></textarea>
        </label>
      </div>
      <input type='submit' ng-click="createNestedComment()"/>
    </form>
  </>

</div>
