<div class='card'>
  <div class='card-block'>
    <h4 class='card-title'>
      <a href="#" ng-click="comment.upvote($event)"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
      <a href="#" ng-click="comment.downvote($event)"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
      {{ comment.votes }} | {{ comment.author }}
    </h4>
    <p>Posted on {{ comment.created_at | date }}</p>
    <p>"{{ comment.content }}"</p>
  </div>

  <!-- Child Comments -->
  <form>
    <div class="form-group">
      <label>Author</label>
      <input ng-model='commentAuthor' type="text" name="author" class="form-control">
    </div>
    <div class="form-group">
      <label>Comment</label>
      <textarea ng-model='commentContent' class="form-control"></textarea>
    </div>
    <input ng-click='addComment($event, comment.id)' type="submit" class="btn btn-primary">
  </form>


  <comment
  ng-repeat="comment in getComments(comment.comments) | orderObjectBy:'votes':true "
  comment='comment' ng-if='comment.comments.length'></comment>

</div>
